<!-- removemos tudo, só mantemos essa linha responsavel por nossas rotas -->
<!-- limpamos o nosso projeto -->
<!-- ng g c views/products (para criar nosso componente products, dentro de views/products) -->
<!-- apagamos o arquivo products.componente.spec.ts e app.component.spec.ts criado, pois não vamos utilizar -->
<!-- vamos no app-routing.module.ts para fazer o roteamento, configurar a rota para abrirmos nessa pagina que criamos, apesar da mesma estar vazia -->
<router-outlet></router-outlet>